#denalipic {
    width:20%;
    margin-left:40%;
    clear:none;
    position:absolute;
    height:200px;
}

#author{
    color:Yellow;
    font-family:"Monospace";
}

#Test{
    width:70%;
    height:600px;
    padding-bottom: 20px;

}

#IWinHive{
    width:100%;
    height:500px;
      padding-bottom: 20px;

}

#BestFlower{
    width:80%;
    height:300px;
    padding-bottom: 20px;
}

#Chain{
        width:80%;
    height:300px;
    padding-bottom: 20px;
}

#Tasks{
    width:70%;
    height:300px;
    padding-bottom: 20px;
}

h1 {
    width:100%;
    text-align:center;
    color:White;
    font-family:"Sans";
}

h2 {
    width:100%;
    color:Yellow;
    font-family:"Sans";
}

h3 {
    width:100%;
    text-align:center;
    color:White;
    font-size:25px;
    font-family:"Sans";
}

body {
    background-color:Blue;
}

div{
        border:2.5px dotted Yellow;
}

p {
    color:White;
    font-size:20px;
    font-family: "Arial";
}

li{
    color:White;
    font-size:20px;
    font-family:"Georgia";
}